<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<typeAliases>-->
        <!--<typeAlias alias="User" type="pojo.User" />-->
        <!--<typeAlias alias="Order" type="pojo.Order" />-->
        <!--<typeAlias alias="Book" type="pojo.Book" />-->
    <!--</typeAliases>-->


    <!--<mappers>-->
        <!--<mapper resource="mapper/usermapper.xml" />-->
        <!--<mapper resource="mapper/bookmapper.xml" />-->
    <!--</mappers>-->

</configuration>
