* {
    margin: 0;
    padding: 0;
}

.layout {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.layout-nav {
    width: 420px;
    margin: 0 auto;
    margin-right: 20px;
}

.layout-footer-center {
    text-align: center;
}

.aside-ul .div2 {
    width: 97px;
    height: 320px;
    background: skyblue;
    position: absolute;
    top: 23px;
    left: 138px;
    display: none;
    text-align: center;
    line-height: 100px;
}

.aside-ul li:hover .div2 {
    display: block;
    background: #CC6600;
    width: 60px;
    height: 300px;
    transition: .5s;
}

.aside-ul {
    list-style: none;
    padding: 20px 0;
    width: 234px;
    background: #CCCC66;
    height: 300px;
}

.aside-ul li {
    height: 42px;
    line-height: -1px;
    padding-left: 65px;
}

.aside-ul li:hover {
    background: #CC6600;
}

.aside-ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.book-img {
    max-width: 100%;
    height: 100px;
    z-index: 1;
    position: absolute;
    margin: 30px auto auto 33px;
}

.wrapper {
    height: 220px;
    width: 159px;
    background: #FFFFFF;
    float: left;
}

.wrapper:hover {
    box-shadow: 0 0 5px 5px #F0F0F0;
    transform: translate3d(0, -2px, 4px);
    transition: .3s;
}

body {
    background: #F5F5F5;
}

.head-a {
    text-decoration: none;
    color: white;
}

.nav-li {
    float: left;
    width: 129px;
    color: #F35626;
    display: block;
    text-align: center;
    line-height: 7px;
    margin-left: 175px;
}

.nav-a {
    display: block;
    text-decoration: none;
    color: #660033;
}

.inner-ul {
    display: none;
    margin: -16px auto auto -103px;
    background: white;
    width: 200px;
    height: 50px;
}

.nav-li:hover ul {
    display: block;
}

.bg {
    margin: 7px auto auto 179px;
}

.logo1 {
    border-radius: 50px;
    width: 60px;
    height: 60px;
}

.first-wrapper {
    margin-left: 184px;
}

.next-wrapper {
    margin-left: 57px;
}

.blank-photo {
    width: 772px;
    height: 82px;
}

.foot {
    width: 100%;
    height: 100px;
    background: #CCCC66;
}

.foot-img {
    height: 70px;
    width: 70px;
    margin-top: 10px;
    border-radius: 50px;
}

.foot-sp {
    text-decoration: none;
    color: black;
}

.foot-span {
    margin: 120px auto auto 20px;
}

.d1 {
    margin-top: 140px;
    text-align: center;
    color: #CC6600;
}

.search {
    width: 235px;
}

.transform-img {
    width: 800px;
    height: 300px;
    margin: -300px auto auto 233px;
}

.head-theme {
    background: #CCCC66;
}

.lay-logo {
    top: -10px;
    float: left;
    margin-left: 50px;
}

.left-li {
    padding: 10px;
}

.head-border {
    margin-left: 179px;
    width: 1200px;
    display: flex;
}