<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CartItemMapper">

<insert id="add" parameterType="CartItem" flushCache="true">
    INSERT INTO cartitem (customerid,proudectid,prodectname,listprice,qty
    ) VALUES (#{customerid},#{proudectid},#{prodectname},#{listprice},#{qty})
 </insert>

</mapper>