<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>书虫</title>
    <script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
    <link href="images/favicon.ico" type="image/x-icon" rel="icon"/><!-- 图标 -->
    <script src="js/head.js"></script>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
<div id="home_app">
    <div class="layout">
        <Layout>
            <Header>
                <i-menu mode="horizontal" active-name="1" class="head-theme">
                    <div class="lay-logo"><img src="images/home/logo_main.jpg" class="logo1"/></div>
                    <div class="layout-nav">
                        <menu-item name="1">
                            <Icon type="ios-navigate"></Icon>
                            <a @click='loginhandle()' class="head-a">
                                {{name}}</a>
                        </menu-item>
                        <menu-item name="2">
                            <Icon type="ios-keypad"></Icon>
                            <a href="javascript:;" @click="logout()" class="head-a">退出</a>
                        </menu-item>
                        <menu-item name="3">
                            <Icon type="ios-analytics"></Icon>
                            <a href="message.html" class="head-a">
                                消息通知
                            </a>
                        </menu-item>
                        <menu-item name="4">
                            <Icon type="ios-paper"></Icon>
                            <a href="cart.html" class="head-a">
                                购物车
                            </a>
                        </menu-item>
                        <menu-item name="4">
                            <Icon type="md-checkbox"></Icon>
                            <a href="cart.html" class="head-a">
                                订单
                            </a>
                        </menu-item>
                    </div>
                </i-menu>
            </Header>
            <i-content :style="{padding: '0 50px'}">
                <i-breadcrumb :style="{margin: '20px 50px'}">
                    <ul>
                        <breadcrumb-item>
                            <li class="nav-li"><span class="nav-a">名著</span>
                                <ul class="inner-ul" id="inner-ul1">
                                    <li style="list-style: none;"><a href="westjourney_book.html"><img
                                            src="./images/home/book/mz%20(3).jpeg" class="book-img"/></a></li>
                                </ul>
                            </li>
                        </breadcrumb-item>
                        <breadcrumb-item>
                            <li class="nav-li"><span class="nav-a">教辅</span>
                                <ul class="inner-ul" id="inner-ul2">
                                    <li style="list-style: none;"><a href="first_Chinese.html"><img
                                            src="images/home/book/xmjys.jpeg" class="book-img"/></a></li>
                                </ul>
                            </li>
                        </breadcrumb-item>
                        <breadcrumb-item>
                            <li class="nav-li"><span class="nav-a">其他</span>
                                <ul class="inner-ul" id="inner-ul3">
                                    <li style="list-style: none;"><a href="ordinaryworld_book.html"><img
                                            src="images/home/book/xyj.jpeg"
                                            class="book-img"/></a></li>
                                </ul>
                            </li>
                        </breadcrumb-item>
                        <breadcrumb-item>
                            <li class="nav-li search">
                                <i-input search enter-button placeholder="请输入..." id="search"/>
                            </li>
                        </breadcrumb-item>
                    </ul>
                </i-breadcrumb>
                <Card>
                    <div style="min-height: 200px;">
                        <div class="bg">
                            <aside>
                                <ul class="aside-ul">
                                    <li class="left-li">
                                        <a href="#">小&nbsp;&nbsp;学</a>
                                        <div class="div2">
                                            <p><a href="book_type.html?type=小学语文">语&nbsp;文</a></p>
                                            <p><a href="book_type.html?type=小学数学">数&nbsp;学</a></p>
                                        </div>
                                    </li>

                                    <li class="left-li">
                                        <a href="#">初&nbsp;&nbsp;中</a>
                                        <div class="div2">
                                            <p><a href="book_type.html?type=初中语文">语&nbsp;文</a></p>
                                            <p><a href="book_type.html?type=初中数学">数&nbsp;学</a></p>
                                        </div>
                                    </li>

                                    <li class="left-li">
                                        <a href="#">高&nbsp;&nbsp;中</a>
                                        <div class="div2">
                                            <p><a href="book_type.html?type=高中语文">语&nbsp;文</a></p>
                                            <p><a href="book_type.html?type=高中语文">数&nbsp;学</a></p>
                                        </div>
                                    </li>
                                    <li class="left-li">
                                        <a href="book_type.html?type=大学">大&nbsp;&nbsp;学</a>
                                    </li>
                                    <li class="left-li">
                                        <a href="book_type.html?type=其他">其&nbsp;&nbsp;他</a>
                                    </li>
                                </ul>
                            </aside>
                            <!-- 轮播图 -->
                            <Carousel autoplay v-model="value2" loop class="transform-img" autoplay-speed="3000">
                                <carousel-item>
                                    <div class="demo-carousel "><img src="images/home/book/czjnjyw.jpeg" height="300px"
                                                                     width="800px"/></div>
                                </carousel-item>
                                <carousel-item>
                                    <div class="demo-carousel"><img src="images/home/book/xmjys.jpeg" height="300px"
                                                                    width="800px"/></div>
                                </carousel-item>
                                <carousel-item>
                                    <div class="demo-carousel"><img src="images/home/book/pn.jpeg" height="300px"
                                                                    width="800px"/></div>
                                </carousel-item>
                                <carousel-item>
                                    <div class="demo-carousel"><img src="images/home/book/fzjqbtzy.jpeg" height="300px"
                                                                    width="800px"/></div>
                                </carousel-item>
                                <carousel-item>
                                    <div class="demo-carousel"><img src="images/home/book/gzyw.jpeg" height="300px"
                                                                    width="800px"/></div>
                                </carousel-item>
                            </Carousel>
                        </div>

                        <!-- 图书方块 -->
                        <div>
                            <div v-for="(value,key) in bookList">
                                <a :href="['/book-detail.html?id='+bookList[key].id]">
                                    <div class="wrapper next-wrapper">
                                        <img :src="['/images/home/book/'+bookList[key].image]" :alt="bookList[key].name"
                                             class="book-img">
                                        <p class="d1"><span class="book-name">{{bookList[key].name}}</span><span
                                                class="book-price">{{bookList[key].listprice}}</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div>
                                <back-top :bottom="400"></back-top>
                            </div>
                            <div class="head-border">
                                <img src="images/home/logo10.png" class="line-wrapper"/>
                                <img src="images/home/blank-photo.png" class="blank-photo"/>
                            </div>
                        </div>
                    </div>
                </Card>
            </i-content>
            <!-- 底部版权 -->
            <Footer class="layout-footer-center foot line-wrapper"><img src="images/home/logo.jpeg" class="foot-img"/>
                <span class="foot-span"><a href="https://www.mi.com/" class="foot-sp">小米商城</a>|<a
                        href="http://www.dangdang.com/"
                        class="foot-sp">当当网</a>|图书|图片
							&copy; bookworm
						</span></Footer>
        </Layout>
    </div>
</div>
<script>
    new Vue({
        el: '#home_app',
        data: {
            name: "登录",
            value2: 0,
            books: [],
            bookList: {}
        },
        mounted() {
            var _this = this;
            axios.get("/customer/getSession").then(function (res) {
                if (res.data.code === 1) {
                    _this.name=res.data.data.name;
                } else {
                    _this.name = "登录";
                    window.location.href = "login.html";
                }
            });
            // 初始化课程表格数据
            axios.get("/product/homeProduct").then(function (res) {
                _this.bookList = res.data.data;
            }).catch(function (reason) {
                console.log(reason);
            });

        },
        methods: {
            loginhandle() {
                if (this.name === "登录") {
                    location.href = "login.html";
                }
            },
            logout() {
                axios.get("/customer/logout").then(function (res) {
                    if (res.data.code === 1) {
                        window.location.href = "first.html";
                    } else {
                        window.location.href = "home.html";
                    }
                }).catch(function (reason) {
                    console.log(reason);
                })
            }
        }
    })
</script>
</body>
</html>
